.profile {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25vh;
  background-color: var(--yellow);
}

.profile-container {
  display: flex;
  width: 100%;
  height: 90%;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-photo {
  background-image: url('../img/andi.jpg');
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-data {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile-data > * {
  font-size: 0.9em;
}

@media only screen and (min-width: 768px) {
  .profile {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 28%;
  }
}
